{% load staticfiles %}

<!doctype html>
<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

  <head>
    <meta charset="UTF-8">
    <title>PyLadies Vale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static "core/favicon.ico" %}" />

    <!--
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    -->

    <link rel="stylesheet" href="{% static "core/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "core/css/animate.css" %}">
    <link rel="stylesheet" href="{% static "core/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "core/css/slick.css" %}">
    <link rel="stylesheet" href="{% static "core/js/rs-plugin/css/settings.css" %}">
    <link rel="stylesheet" href="{% static "core/css/berry.css" %}">
    <link rel="stylesheet" href="{% static "core/css/modal.css" %}"/>

    <link rel="stylesheet" href="{% static "core/css/common.css" %}"/>

    <script type="text/javascript" src="{% static "core/js/modernizr.custom.32033.js" %}"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="pre-loader">
      <div class="load-con"> 
        <img src="{% static "core/img/logos/pyladies/logopyladies72x72.png" %}" class="animated fadeInDown" alt="">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>

    <header>

      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="fa fa-bars fa-lg"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img src="{% static "core/img/logos/pyladies/logopyladies72x72.png" %}" alt="" class="logo">
            </a>
          </div>

          <a href="https://github.com/pyladiesvale" class="github-corner">
            <svg width="80" height="80" viewBox="0 0 250 250" style="fill:#000000; color:#ffffff; position: absolute; top: 0; border: 0; right: 0;">
              <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
              <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
              <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
            </svg>
          </a>
          <style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
          </style>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#about">PyLadies</a></li>
              <li><a href="#valeparaiba">Vale do Paraíba</a></li>
              <li><a href="#pyladiesvale">PyLadies Vale</a></li>
              <li><a href="#members">Membros</a></li>
              <li><a href="#events">Eventos</a></li>
              <li><a href="#support">Contato</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
      </nav>
      <!--RevSlider-->

      <div class="tp-banner-container">
        <div class="tp-banner">
          
          <ul>
              <!-- SLIDE (image in left) -->
              <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                <!-- MAIN IMAGE -->        
                <img src="{% static "core/img/transparent.png" %}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption lfl fadeout hidden-xs" data-x="left"
                  data-y="bottom" data-hoffset="30" data-voffset="0"
                  data-speed="500" data-start="700" data-easing="Power4.easeOut">
                  <img src="{% static "core/img/slide/logopython.png" %}" alt="">
                </div>

                <div class="tp-caption large_white_bold sft" data-x="550" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1200" data-easing="Power4.easeOut">
                  Python
                </div>        

                <div class="tp-caption medium_light_white sfb sfb visible-xs" data-x="center" data-y="center" data-hoffset="0" data-voffset="80" data-speed="1000" data-start="1600" data-easing="Power4.easeOut">
                  <p>"Python é uma odksodkoaskdkaosdkaos chohendch aefshofiofaf </p>
                   <p> jJOSJPADA DJOAODJOSDHAISIHjas isjosdjsisjdis sdijisj</p> 
                </div>

                <div class="tp-caption small_light_white sfb hidden-xs" data-x="550" data-y="center" data-hoffset="0" data-voffset="80" data-speed="1000" data-start="1600" data-easing="Power4.easeOut">
                  <p>"Python é uma odksodkoaskdkaosdkaos chohendch aefshofiofaf </p>
                   <p> jJOSJPADA DJOAODJOSDHAISIHjas isjosdjsisjdis sdijisj</p> 
                </div>

                <div class="tp-caption sfb hidden-xs" data-x="550" data-y="center" data-hoffset="0" data-voffset="160" data-speed="1000" data-start="1700" data-easing="Power4.easeOut">
                  <a href="http://wiki.python.org.br/AprendaProgramar" class="btn btn-primary inverse btn-lg">Saiba mais</a>
                </div>
              </li>

              <!-- SLIDE 2 (image in center) -->
              <!--
              <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
                <!- - MAIN IMAGE - ->
                <img src="img/transparent.png"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <!- - LAYERS - ->
                <!- - LAYER NR. 1 - ->
                <div class="tp-caption lfb fadeout hidden-xs"
                data-x="center"
                data-y="bottom"
                data-hoffset="0"
                data-voffset="0"
                data-speed="1000"
                data-start="700"
                data-easing="Power4.easeOut">
                <img src="img/berry/Slides/geek.png"alt=""/>
              </div>


              <div class="tp-caption large_white_light sft" data-x="center" data-y="250" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1400" data-easing="Power4.easeOut">
                Seja um líder!
              </div>
              <div class="tp-caption medium_light_white sfb" data-x="center" data-y="350" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1400" data-easing="Power4.easeOut">
                  <p>Junte-se a nós.</p> 
                </div>
            </li>
            -->

            <!-- SLIDE 3 (image in right) -->
            <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
              <!-- MAIN IMAGE -->
              <img src="{% static "core/img/transparent.png" %}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
              <!-- LAYERS -->
              <!-- LAYER NR. 1 -->
              <div class="tp-caption customin customout hidden-xs" data-x="right"
                data-y="center" data-hoffset="0"
                data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-voffset="50" data-speed="1000" data-start="700"
                data-easing="Power4.easeOut">
                <img src="{% static "core/img/slide/logodjango.png" %}" alt="">
              </div>

              <!-- visible é o q vai aparecer no mobile-->
              <div class="tp-caption large_white_light sft visible-xs" data-x="center" data-y="center" data-hoffset="0" data-voffset="-170" data-speed="1000" data-start="1000" data-easing="Power4.easeOut">
                Django
              </div>
              <div class="tp-caption mediumlarge_light_white sfl visible-xs" data-x="center" data-y="center" data-hoffset="0" data-voffset="-50" data-speed="1000" data-start="1000" data-easing="Power4.easeOut">
                <p>Todos os odksodkoaskdkaosdkaos chohendch aefshfiuhsdbsabdfjkabsfohofiof</p>
                <p>Todos os odksodkoaskdkaosdkaos chohendch aefshfiuhsdbsabdfjkabsfohofiof</p>
              </div>
              <div class="tp-caption lfb visible-xs" data-x="center" data-y="center" data-hoffset="0" data-voffset="160" data-speed="1000" data-start="1200" data-easing="Power4.easeOut">
                <a href="https://www.facebook.com/PyLadiesSaoCarlos" class="btn btn-primary inverse btn-lg">Saiba mais</a>
              </div>


              <div class="tp-caption mediumlarge_light_white sfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="-50" data-speed="1000" data-start="1000" data-easing="Power4.easeOut">
                Django
              </div>
              <div class="tp-caption small_light_white sfb hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="80" data-speed="1000" data-start="1600" data-easing="Power4.easeOut">
               <p>Todos os odksodkoaskdkaosdkaos chohendch aefshfiuhsdbsabdfjkabsfohofiof</p>
                <p>Todos os odksodkoaskdkaosdkaos chohendch aefshfiuhsdbsabdfjkabsfohofiof</p>
               </div>
               <div class="tp-caption lfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="160" data-speed="1000" data-start="1800" data-easing="Power4.easeOut">
                <a href="https://www.facebook.com/PyLadiesSaoCarlos" class="btn btn-primary inverse btn-lg">Saiba mais</a>            
              </div>
            </li>

          </ul>        
        </div>
      </div>

    </header>

    <div class="wrapper">

      <section id="about">
        <div class="container">

          <div class="section-heading scrollpoint sp-effect3">
            <h1>PyLadies</h1>
            <div class="divider"></div>
            <p>
              O PyLadies é um....
              aksoskdoskodksodkoaskdkaosdkaos chohendch aefshfiuhsdbsabdfjkabsfohofiofaf  jJOSJPADA DJOAODJOSDHAISIHS DI SDIHSAIDHhsoihdo idsh siadoiadias ddjoasjdoajd djoaijdiosjdjas isjosdjsisjdis sdijisj
            </p>
            <p>
              O PyLadies é um....
              aksoskdoskodksodkoaskdkaosdkaos chohendch aefshfiuhsdbsabdfjkabsfohofiofaf  jJOSJPADA DJOAODJOSDHAISIHS DI SDIHSAIDHhsoihdo idsh siadoiadias ddjoasjdoajd djoaijdiosjdjas isjosdjsisjdis sdijisj
            </p>
          </div>

        </div>
      </section>

      <section id="valeparaiba">
        <div class="container">
          <div class="section-heading scrollpoint sp-effect3">
            <h1>Vale do Paraíba</h1>
            <div class="divider"></div>
            <p>
              O Vale do Paraíba. odksodkoaskdkaosdkaos chohendch aefshfiuhsdbsabdfjkabsfohofiofaf  jJOSJPADA DJOAODJOSDHAISIHS DI SDIHSAIDHhsoihdo idsh siadoiadias ddjoasjdoajd djoaijdiosjdjas isjosdjsisjdis sdijisj
            </p>
          </div>
        </div>
      </section>

      <section id="pyladiesvale">
        <div class="container">
          <div class="section-heading scrollpoint sp-effect3">
            <h1>PyLadies Vale</h1>
            <div class="divider"></div>
            <p>
              O Pyl odksodkoaskdkaosdkaos chohendch aefshfiuhsdbsabdfjkabsfohofiofaf  jJOSJPADA DJOAODJOSDHAISIHS DI SDIHSAIDHhsoihdo idsh siadoiadias ddjoasjdoajd djoaijdiosjdjas isjosdjsisjdis sdijisj            </p>
          </div>
        </div>
      </section>

      <section id="members">
        <div class="container">

          <div class="section-heading scrollpoint sp-effect3" style="margin-bottom: 0px;">
            <h1>Membros</h1>
            <div class="divider"></div>
            <p>
              Os co-fundadores 
            </p>
          </div>

          {% if MEMBERS %}
            {% for list_members in MEMBERS %}  
              <div class="row">
                <!--div class="col-xs-2 col-sm-2 col-md-2 media scrollpoint sp-effect1"></div-->
                <div class="col-md-2 media scrollpoint sp-effect1"></div>

                  {% for member in list_members %}
                    <div class="col-xs-12 col-sm-3 col-md-2 media scrollpoint sp-effect1" id="member0">
                      <center>
                        <div>
                          <img src="{% static member.foto %}" alt="" class="img-responsive img-circle" alt="Responsive image">
                        </div>
                      </center>
                      <div class="feature">
                        <center>
                          <h3 class="media-heading"> {{ member.nome }} </h3>
                          <p> {{ member.status }} </p>
                        </center> 
                        <section id="id_color" class="doublediagonal">
                          <div class="row">                            
                            <center>
                              
                              <div class="media col-xs-4 col-sm-4 col-md-4">
                                <a href="{{ member.socialnetworks.facebook }}" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
                              </div>  
                              <div class="media col-xs-4 col-sm-4 col-md-4">
                                <a href="{{ member.socialnetworks.github }}" class="scrollpoint sp-effect3"><i class="fa fa-github fa-lg"></i></a>
                              </div>  
                              <div class="media col-xs-4 col-sm-4 col-md-4">
                                <a href="{{ member.socialnetworks.twitter }}" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
                              </div>    
                              
                            </center>                     
                          </div>
                        </section>                 
                      </div>
                    </div>
                  {% endfor %}

                <!--div class="col-xs-2 col-sm-2 col-md-2 media scrollpoint sp-effect1"></div-->
                <div class="col-md-2 media scrollpoint sp-effect1"></div>
              </div>

            {% endfor %}

          {% else %}
          
            Sem membros...

          {% endif %}

        </div> <!-- class="container" -->
      </section>

      <section id="events">
        <div class="container">

          <div class="section-heading scrollpoint sp-effect3">
            <h1>Eventos</h1>
            <div class="divider"></div>
            <p>Em construção...</p>
          </div>

        </div>
      </section>

      <section id="support" class="doublediagonal">
        <div class="container">
          <div class="section-heading scrollpoint sp-effect3">
            <h1>Contato</h1>
            <div class="divider"></div>
            <p>Caso tenha alguma dúvida, não hesite em nos contactar. :)</p>
          </div>

          <div class="row">
            <div class="col-md-1 media scrollpoint sp-effect1"></div>

            <div class="col-xs-12 col-sm-2 col-md-2 media scrollpoint sp-effect1">

              <center>
                <div class="media">
                  <div class="feature">
                    <a href="https://www.google.com.br/maps/place/S%C3%A3o+Jos%C3%A9+dos+Campos,+SP/@-23.1894443,-46.0030986,11z/data=!3m1!4b1!4m2!3m1!1s0x94cc4bb3858cc2e7:0xba25a33168f8c1" >
                      <i class="fa fa-map-marker fa-2x"></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Vale do Paraíba - SP - Brasil</h4>
                  </div>
                </div>
              </center>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 media scrollpoint sp-effect1">

              <center>
                <div class="media">
                  <a href="mailto:vale@pyladies.com"><i class="fa fa-envelope fa-2x"></i></a>
                  <div class="media-body">
                    <h4 class="media-heading">vale@pyladies.com</h4>
                  </div>
                </div>
              </center>

            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 media scrollpoint sp-effect1">

              <center>
                <div class="media">
                  <a href="https://github.com/pyladiesvale"><i class="fa fa-github fa-2x"></i></a>
                  <div class="media-body">
                    <h4 class="media-heading">pyladiesvale</h4>
                  </div>
                </div>
              </center>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 media scrollpoint sp-effect1">

              <center>
                <div class="media">
                  <a href="https://twitter.com/pyladiesvale" >
                    <i class="fa fa-twitter fa-2x"></i>
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">@pyladiesvale</h4>
                  </div>
                </div>
              </center>

            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 media scrollpoint sp-effect1">

              <center>
                <div class="media">
                  <a href="https://www.facebook.com/pyladiesvale" >
                    <i class="fa fa-facebook fa-2x"></i>
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">fb.me/pyladiesvale</h4>
                  </div>
                </div>
              </center>

            </div>

            <div class="col-md-1 media scrollpoint sp-effect1"></div>
            
          </div>

          <!--div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-8 col-sm-8 scrollpoint sp-effect1">
                  <p>
                    odksodkoaskdkaosdkaos chohendch aefshfiuhsdbsabdfjkabsfohofiofaf  jJOSJPADA DJOAODJOSDHAISIHS DI SDIHSAIDHhsoihdo idsh siadoiadias ddjoasjdoajd djoaijdiosjdjas isjosdjsisjdis sdijisj
                  </p>
                  <p>
                    odksodkoaskdkaosdkaos chohendch aefshfiuhsdbsabdfjkabsfohofiofaf  jJOSJPADA DJOAODJOSDHAISIHS DI SDIHSAIDHhsoihdo idsh siadoiadias ddjoasjdoajd djoaijdiosjdjas isjosdjsisjdis sdijisjodksodkoaskdkaosdkaos chohendch aefshfiuhsdbsabdfjkabsfohofiofaf  jJOSJPADA DJOAODJOSDHAISIHS DI SDIHSAIDHhsoihdo idsh siadoiadias ddjoasjdoajd djoaijdiosjdjas isjosdjsisjdis sdijisj
                  </p>
                </div>

                <div class="col-md-4 col-sm-4 contact-details scrollpoint sp-effect2">
                  
                  <div class="media">
                    <a class="pull-left" href="https://www.google.com.br/maps/place/S%C3%A3o+Jos%C3%A9+dos+Campos,+SP/@-23.1894443,-46.0030986,11z/data=!3m1!4b1!4m2!3m1!1s0x94cc4bb3858cc2e7:0xba25a33168f8c1" >
                      <i class="fa fa-map-marker fa-2x"></i>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Vale do Paraíba - SP - Brasil</h4>
                    </div>
                  </div>

                  <div class="media">
                    <a class="pull-left" >
                      <i class="fa fa-envelope fa-2x"></i>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">
                        <a href="mailto:vale@pyladies.com">vale@pyladies.com</a>
                      </h4>
                    </div>
                  </div>

                  <div class="media">
                    <a class="pull-left" href="https://github.com/pyladiesvale" >
                      <i class="fa fa-github fa-2x"></i>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">pyladiesvale</h4>
                    </div>
                  </div>

                  <div class="media">
                    <a class="pull-left" href="https://twitter.com/pyladiesvale" >
                      <i class="fa fa-twitter fa-2x"></i>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">@pyladiesvale</h4>
                    </div>
                  </div>

                  <div class="media">
                    <a class="pull-left" href="https://www.facebook.com/pyladiesvale" >
                      <i class="fa fa-facebook fa-2x"></i>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">fb.me/pyladiesvale</h4>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div-->



        </div>

      </section>

      <footer>
        <div class="container">
          <a href="#" class="scrollpoint sp-effect3">
            <img src="{% static "core/img/logos/pyladies/logopyladies72x72.png" %}" alt="" class="logo">
          </a>
          <div class="rights">
            <p>Copyright &copy; 2016</p>
            <p>Todos os direitos reservados</a></p>
          </div>
        </div>
      </footer>

    </div>

    <script src="{% static "core/js/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "core/js/bootstrap.min.js" %}"></script>
    <script src="{% static "core/js/slick.min.js" %}"></script>
    <script src="{% static "core/js/placeholdem.min.js" %}"></script>
    <script src="{% static "core/js/rs-plugin/js/jquery.themepunch.plugins.min.js" %}"></script>
    <script src="{% static "core/js/rs-plugin/js/jquery.themepunch.revolution.min.js" %}"></script>
    <script src="{% static "core/js/waypoints.min.js" %}"></script>
    <script src="{% static "core/js/scripts.js" %}"></script>
    
    <script>
      $(document).ready(function() {
        appMaster.preLoader();
      });
    </script>

  </body>
</html>